
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="Home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home/AjouterLivre">Ajouter Livre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home/Reservation">Mon Reservation</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
        <input type="text" [(ngModel)]="searchValue" >

    </div>
  </nav>
</header>


<br>
<!--<button (click)="ServiceLivre.AfficherListLivre()" >afficher</button>
<button (click)="ServiceLivre.goToAjouter()"  >ajouter</button>-->

  <div class="container">
    <div class="row">
  <!--    <div  *ngIf="m">{{envoyeralet(m)}}
      </div>
-->
      <div class="" *ngFor="let Livre of ServiceLivre.ListLivre | searchfilter:searchValue,let i=index ">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{Livre?.fileSource}}" style="height: 100px; width:100px"/>
          <div class="card-body">
            <h5 class="card-title">Titre : {{Livre.TitreLivre}}</h5>
            <p class="card-text"> Nom Auteur : {{Livre.NomAuteur}}</p>
            <p class="card-text"> Price : {{Livre.price}}</p>
            <p class="card-text"> Quantity : {{Livre.quantity}}</p>

            <img src="./assets/image/delete.png" (click)="ServiceLivre.deleteProduct(Livre.id)">
            <img src="./assets/image/edit.png" (click)="ServiceLivre.goToModifier(Livre.id)">
            <input type="button" value="Details" class="btn btn-primary" (click)="ServiceLivre.goToDetails(Livre.id)">

          </div>
        </div>
      </div>
    </div>
  </div>



