<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/AjouterLivre">Ajouter Livre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Reservation">Les Reservations</a>
        </li>


      </ul>

    </div>
  </nav>
  <header>
<!--</header>
<form  [formGroup]="form" (ngSubmit)="ServiceLivre.ModifierLivre1(form.value,id.value)">
  <div class="form-group">
    <label>image</label>
    <input id="file" type="file" formControlName="image" (change)="onFileChange($event)">
  </div>
  <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:100px">
  <div>idLivre :<input disabled type="text" [(ngModel)]="idL"   formControlName="id" >
  </div>
  <div>TitreLivre: <input type="text" [(ngModel)]="Livre.TitreLivre" formControlName="TitreLivre"></div>
  <div *ngIf="controles.TitreLivre.invalid && controles.TitreLivre.dirty"><p class="heading">**Titre Livre Obligatoire**</p></div>

  <div> NomAuteur:<input type="text" [(ngModel)]="Livre.NomAuteur" formControlName="NomAuteur"></div>
  <div *ngIf="controles.NomAuteur.invalid && controles.NomAuteur.dirty"><p class="heading">**Nom Auteur Obligatoire**</p></div>

  <div> price:<input type="text" [(ngModel)]="Livre.price" formControlName="price"></div>
  <div *ngIf="controles.price.invalid && controles.price.dirty"><p class="heading">**price invalid**</p></div>

  <div> quantity:<input type="text" [(ngModel)]="Livre.quantity"  formControlName="quantity"></div>
  <div *ngIf="controles.quantity.invalid && controles.price.dirty"><p class="heading"> **quantity invalid** </p></div>
  <div class="form-group">
    <input type="submit" [disabled]="form.invalid" class="btn-primary" value="Modifier">
  </div>
</form>
-->
<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <div class="d-flex justify-content-center">
      <div style="width: 400px;">
        <form  [formGroup]="form" (ngSubmit)="ServiceLivre.ModifierLivre1(form.value,id.value)">
          <div class="form-group">
            <hr>
            <label>image:</label> <br>
            <input id="file" type="file" formControlName="image" (change)="onFileChange($event)"> </div>
          <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:100px">

          <div class="form-group">
            <div>idLivre :<input disabled type="text" [(ngModel)]="idL"   formControlName="id" >
            </div>  </div>

          <div class="form-group">
            <div>TitreLivre: <input type="text" [(ngModel)]="Livre.TitreLivre" formControlName="TitreLivre"></div>
            <div *ngIf="controles.TitreLivre.invalid && controles.TitreLivre.dirty"><p class="heading">**Titre Livre Obligatoire**</p></div>
          </div>

          <div class="form-group">
            <div> NomAuteur:<input type="text" [(ngModel)]="Livre.NomAuteur" formControlName="NomAuteur"></div>
            <div *ngIf="controles.NomAuteur.invalid && controles.NomAuteur.dirty"><p class="heading">**Nom Auteur Obligatoire**</p></div>
          </div>


          <div> quantity:<input type="text" [(ngModel)]="Livre.quantity"  formControlName="quantity"></div>
          <div *ngIf="controles.quantity.invalid && controles.price.dirty"><p class="heading"> **quantity invalid** </p></div>

          <div class="form-group">
            <div> price:<input type="text" [(ngModel)]="Livre.price" formControlName="price"></div>
            <div *ngIf="controles.price.invalid && controles.price.dirty"><p class="heading">**price invalid**</p></div>

            <!--<input type="text" class="form-control" id="sexe" required [(ngModel)]="etudiants.sexe" formControlName="description">-->
          </div>
          <div class="form-group">
            <input type="submit" [disabled]="form.invalid" class="btn-primary" value="Modifier">
          </div>
          <!-- <div class="form-group">
               <label>image</label>
               <input id="file" type="file" formControlName="image" (change)="onFileChange($event)">
           </div>
           <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:100px">-->


        </form>

      </div>
    </div>
  </div>
</div>
