<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/AjouterLivre">Ajouter Livre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home/AjouterLivre/Reservation">Mon Reservation</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>

    </div>
  </nav>
</header>


<!--<form #form="ngForm"  (ngSubmit)="ServiceLivre.ajouter(form.value)">

         <div>
           idLivre :<input type="text" name="id" #id="ngModel" [ngModel] required [(ngModel)]="text">
           <p *ngIf="id.invalid" class="heading"> l'id est Obligatoire</p>
           <p *ngIf="text" class="heading">votre id livre est :{{text}}</p>


         </div>

  <div> TitreLivre: <input type="text"  name="TitreLivre" #TitreLivre="ngModel" [ngModel] required [(ngModel)]="text1" >
    <p *ngIf="TitreLivre.invalid"class="heading"> Titre Livre est Obligatoire</p>
    <p *ngIf="text1">votre titre livre est :{{text1}}</p>
  </div>
  <div>

    NomAuteur:<input type="text"  name="NomAuteur" #NomAuteur="ngModel" [ngModel] required [(ngModel)]="text2" >
    <p *ngIf="NomAuteur.invalid" class="heading">Nom Auteur est Obligatoire</p>
    <p *ngIf="text2"> Nom Auteur de livre est :{{text2}}</p>
  </div>
  <div>
    price:<input type="text" name="price" #price="ngModel" [ngModel] required pattern="^[1-9][0-9]*$" [(ngModel)]="text3">
    <p *ngIf="price.invalid" class="heading"> price est Obligatoire && Number</p>
    <p *ngIf="text3">price de livre est :{{text3}}</p>

  </div>
  <div>
    quantity:<input type="text" name="quantity" #quantity="ngModel" [ngModel] required pattern="^[1-9][0-9]*$" [(ngModel)]="text4">
    <p *ngIf="quantity.invalid" class="heading"> Qauntity est Obligatoire && Number</p>
    <p *ngIf="text4">Quantity livre est :{{text4}}</p>

  </div>

  <div class="form-group">
    <input type="submit"  [disabled]="form.invalid"  value="ajouter">  </div>
</form>-->
<form  [formGroup]="form" (ngSubmit)="ServiceLivre.ajouter(form.value)">
  <div class="form-group">
    <label>image</label>
    <input id="file" type="file" formControlName="image" (change)="onFileChange($event)">
  </div>
  <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:100px">

  <div>TitreLivre: <input type="text"  formControlName="TitreLivre"></div>
  <div *ngIf="controles.TitreLivre.invalid && controles.TitreLivre.dirty"><p class="heading">**Titre Livre Obligatoire**</p></div>

  <div> NomAuteur:<input type="text"  formControlName="NomAuteur"></div>
  <div *ngIf="controles.NomAuteur.invalid && controles.NomAuteur.dirty"><p class="heading">**Nom Auteur Obligatoire**</p></div>

  <div> price:<input type="text"  formControlName="price"></div>
  <div *ngIf="controles.price.invalid && controles.price.dirty"><p class="heading">**price invalid**</p></div>

  <div> quantity:<input type="text"  formControlName="quantity"></div>
  <div *ngIf="controles.quantity.invalid && controles.price.dirty"><p class="heading"> **quantity invalid** </p></div>


  <div class="form-group">
    <input type="submit" [disabled]="form.invalid" class="btn-primary" value="Modifier">
  </div>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


