<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<header>
  <section class="navbar1">
    <a  routerLink="" >Home</a>
    <a routerLink="AjouterLivre">Ajouter Livre</a>
    <a href="#">afficher une histoire</a>
    <a href="#">ajouter une histoire</a>
  </section>
  <nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
  </nav>
</header>

<form #form="ngForm"  (ngSubmit)="ServiceLivre.ajouter(form.value)">

         <div>
           idLivre :<input type="text" name="id" #id="ngModel" [ngModel] required>
           <p *ngIf="id.invalid"> Titre Livre est Obligatoire</p>


         </div>

  <div> TitreLivre: <input type="text"  name="TitreLivre" #TitreLivre="ngModel" [ngModel] required >
    <p *ngIf="TitreLivre.invalid"> Titre Livre est Obligatoire</p>
  </div>
  <div>

    NomAuteur:<input type="text"  name="NomAuteur" #NomAuteur="ngModel" [ngModel] required >
    <p *ngIf="NomAuteur.invalid">Nom Auteur est Obligatoire</p>
  </div>
  <div>
    price:<input type="text" name="price" #price="ngModel" [ngModel] required pattern="^[1-9][0-9]*$">
    <p *ngIf="price.invalid"> price est Obligatoire && Number</p>

  </div>
  <div>
    quantity:<input type="text" name="quantity" #quantity="ngModel" [ngModel] required pattern="^[1-9][0-9]*$">
    <p *ngIf="quantity.invalid"> Qauntity est Obligatoire && Number</p>

  </div>

  <div class="form-group">
    <input type="submit"  class="btn-primary" value="ajouter">  </div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


