<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Home/Reservation/AjouterLivre">Ajouter Livre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Reservation">Les Reservations</a>
        </li>
      </ul>

    </div>
  </nav>
</header>
<div *ngIf="ServiceLivre.aa==true">

<table class="table">
  <thead>
  <tr >
    <th  (click)="sort('id')">ID Livre&nbsp;<i class="fa fa-sort"></i></th>
    <th scope="col">Titre Livre</th>
    <th scope="col">Nom Auteur</th>
    <th  (click)="sort('Price')"> Price&nbsp;<i class="fa fa-sort"></i></th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let R of ServiceLivre.ListBiblio | orderBy:key:reverse |paginate:{itemsPerPage:5,currentPage:p};" >
    <th scope="row">{{R.id}}</th>
    <td>{{R.TitreLivre}}</td>
    <td>{{R.NomAuteur}}</td>
    <td>{{R.price}}</td>
  </tr>

  </tbody>
  <pagination-controls  (pageChange)="p=$event"></pagination-controls>
</table>
</div>
